.AccordionCinemaSystem {
  background-color: #121212;
  border-radius: 5px;
  @media (min-width: 576px) {
    display: block;
  }
  @media (max-width: 400px) {
    display: none;
  }

  @media (min-width: 910px) {
    display: none;
  }
}
